Repository WoW-2-0-Projects/StudyMate, pull requests merged in 2024-04, with the labels that each got.

#7 Created backend solution
  src/StudyMate.Backend/.gitignore
  src/StudyMate.Backend/StudyMate.Api/Program.cs
  src/StudyMate.Backend/StudyMate.Api/Properties/launchSettings.json
  src/StudyMate.Backend/StudyMate.Api/StudyMate.Api.csproj
  src/StudyMate.Backend/StudyMate.Api/appsettings.Development.json
  src/StudyMate.Backend/StudyMate.Api/appsettings.json
  src/StudyMate.Backend/StudyMate.Application/StudyMate.Application.csproj
  src/StudyMate.Backend/StudyMate.Backend.sln
  src/StudyMate.Backend/StudyMate.Domain/StudyMate.Domain.csproj
  src/StudyMate.Backend/StudyMate.Infrastructure/StudyMate.Infrastructure.csproj
  src/StudyMate.Backend/StudyMate.Persistence/StudyMate.Persistence.csproj
Labels: feature, high, backend

#14 Create host configuration
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.Extensions.cs
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.cs
  src/StudyMate.Backend/StudyMate.Api/Properties/launchSettings.json
  src/StudyMate.Backend/StudyMate.Api/StudyMate.Api.csproj
  src/StudyMate.Backend/StudyMate.Api/appsettings.json
  src/StudyMate.Backend/StudyMate.Domain/Constants/HostConstants.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/Settings/CorsSettings.cs
Labels: feature, high, backend

#19 Added persistence
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.Extensions.cs
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.cs
  src/StudyMate.Backend/StudyMate.Api/appsettings.Development.json
  src/StudyMate.Backend/StudyMate.Domain/Constants/DataAccessConstants.cs
Labels: feature, high, backend

#20 Release v0.0.1
  .gitignore
  src/StudyMate.Backend/.gitignore
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.Extensions.cs
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.cs
  src/StudyMate.Backend/StudyMate.Api/Configurations/MigrationsExtensions.cs
  src/StudyMate.Backend/StudyMate.Api/Program.cs
  src/StudyMate.Backend/StudyMate.Api/Properties/launchSettings.json
  src/StudyMate.Backend/StudyMate.Api/StudyMate.Api.csproj
  src/StudyMate.Backend/StudyMate.Api/appsettings.Development.json
  src/StudyMate.Backend/StudyMate.Api/appsettings.json
  src/StudyMate.Backend/StudyMate.Application/StudyMate.Application.csproj
  src/StudyMate.Backend/StudyMate.Backend.sln
  src/StudyMate.Backend/StudyMate.Domain/Common/Commands/CommandOptions.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Entities/IAuditableEntity.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Entities/ICreationAuditableEntity.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Entities/IDeletionAuditableEntity.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Entities/IEntity.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Entities/IModificationAuditableEntity.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Entities/ISoftDeletedEntity.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/FilterPagination.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/QueryOptions.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/QueryTrackingMode.cs
  src/StudyMate.Backend/StudyMate.Domain/Constants/DataAccessConstants.cs
  src/StudyMate.Backend/StudyMate.Domain/Constants/HostConstants.cs
  src/StudyMate.Backend/StudyMate.Domain/StudyMate.Domain.csproj
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/Settings/CorsSettings.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/StudyMate.Infrastructure.csproj
  src/StudyMate.Backend/StudyMate.Persistence/DataContexts/AppDbContext.cs
  src/StudyMate.Backend/StudyMate.Persistence/Extensions/EfCoreExtensions.cs
  src/StudyMate.Backend/StudyMate.Persistence/Extensions/LinqExtensions.cs
  src/StudyMate.Backend/StudyMate.Persistence/Repositories/EntityRepositoryBase.cs
  src/StudyMate.Backend/StudyMate.Persistence/StudyMate.Persistence.csproj
Labels: high, backend, devops

#22 Add missing docker configuration
  src/StudyMate.Backend/.dockerignore
  src/StudyMate.Backend/StudyMate.Api/Dockerfile
  src/StudyMate.Backend/StudyMate.Api/Properties/launchSettings.json
  src/StudyMate.Backend/StudyMate.Api/StudyMate.Api.csproj
Labels: bug, high, devops

#23 Add caching
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.Extensions.cs
  src/StudyMate.Backend/StudyMate.Api/StudyMate.Api.csproj
  src/StudyMate.Backend/StudyMate.Api/appsettings.json
  src/StudyMate.Backend/StudyMate.Application/Common/Serializers/Brokers/IJsonSerializationSettingsProvider.cs
  src/StudyMate.Backend/StudyMate.Application/StudyMate.Application.csproj
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/Caching/CacheSettings.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/Caching/DefaultMemoryCacheBroker.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/Caching/LazyMemoryCacheBroker.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/Serializers/Brokers/JsonSerializationSettingsProvider.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/StudyMate.Infrastructure.csproj
  src/StudyMate.Backend/StudyMate.Persistence/Caching/Brokers/ICacheBroker.cs
  src/StudyMate.Backend/StudyMate.Persistence/Caching/Models/CacheEntryOptions.cs
Labels: feature, high, backend

#24 Add `MultipleOptionAnswer` entity
  src/StudyMate.Backend/StudyMate.Api/Program.cs
  src/StudyMate.Backend/StudyMate.Domain/Entities/MultipleOptionAnswer.cs
  src/StudyMate.Backend/StudyMate.Persistence/DataContexts/AppDbContext.cs
  src/StudyMate.Backend/StudyMate.Persistence/EntityConfiguration/MultipleOptionAnswerConfiguration.cs
  src/StudyMate.Backend/StudyMate.Persistence/Migrations/20240420071826_Add_MultipleOptionAnswer.Designer.cs
  src/StudyMate.Backend/StudyMate.Persistence/Migrations/20240420071826_Add_MultipleOptionAnswer.cs
  src/StudyMate.Backend/StudyMate.Persistence/Migrations/AppDbContextModelSnapshot.cs
  src/StudyMate.Backend/StudyMate.Persistence/Repositories/EntityRepositoryBase.cs
  src/StudyMate.Backend/StudyMate.Persistence/Repositories/Interfaces/IMultipleOptionAnswerRepository.cs
  src/StudyMate.Backend/StudyMate.Persistence/Repositories/MultipleOptionAnswerRepository.cs
Labels: feature, high, backend

#26 Fix CORS runtime configuration
  src/StudyMate.Backend/StudyMate.Api/appsettings.json
Labels: bug, high, backend

#27 Added initial infra comms
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.Extensions.cs
  src/StudyMate.Backend/StudyMate.Api/Configurations/HostConfiguration.cs
  src/StudyMate.Backend/StudyMate.Api/StudyMate.Api.csproj
  src/StudyMate.Backend/StudyMate.Application/Common/Events/Brokers/IEventBusBroker.cs
  src/StudyMate.Backend/StudyMate.Application/StudyMate.Application.csproj
  src/StudyMate.Backend/StudyMate.Domain/Common/Commands/CommandOptions.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Commands/ICommand.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Commands/ICommandHandler.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Events/EventBase.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Events/EventHandlerBase.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Events/EventOptions.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Events/IEvent.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Events/IEventHandler.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/FilterPagination.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/IQuery.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/IQueryHandler.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/QueryOptions.cs
  src/StudyMate.Backend/StudyMate.Domain/Common/Queries/QueryTrackingMode.cs
  src/StudyMate.Backend/StudyMate.Domain/StudyMate.Domain.csproj
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/EventBus/Brokers/MassTransitEventBusBroker.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/EventBus/Brokers/RabbitMqEventBusBroker.cs
  src/StudyMate.Backend/StudyMate.Infrastructure/Common/EventBus/Extensions/MassTransitExtensions.cs
  src/StudyMate.Backend/StudyMate.Persistence/Repositories/EntityRepositoryBase.cs
Labels: feature, high, backend
